.hero {
  background-image:
    url("https://i.ibb.co/N34KFQ7/banner-dell-laptops-0518-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
  display: flex;
  align-items: center;
}
.hero h6 {
  font-weight: 700;
  color: #000000;
}
.hero h1 {
  font-weight: 300;
  font-size: 52px;
  color: #fff;
}
.hero p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .hero {
    height: auto;
    padding: 60px 0;
  }
  .hero h1 {
    font-weight: 600;
    font-size: 36px;
  }
  .heroBtn {
    padding: 15px 30px;
  }
}
